<header class="header">
    <ion-button class="back" fill="clear">
        <ion-icon name="arrow-round-back" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-title class="title">
        <ion-icon name="mail"></ion-icon>
        Configurações
    </ion-title>
</header>

<ion-content>
    <!-- Item as a Button -->
    <ion-item class="option" button="true" lines="none">
        <ion-icon name="person-add"></ion-icon>
        <ion-label>Convidar amigos</ion-label>
    </ion-item>


</ion-content>