<ion-content>

    <header class="header-ifr">
        <ion-toolbar class="toolbar-c-r">
            <ion-buttons slot="start">
                <ion-back-button class="back" defaultHref="/settings" icon="arrow-round-back"></ion-back-button>
            </ion-buttons>

        </ion-toolbar>

        <ion-title class="title">Convidar amigos</ion-title>

    </header>

    <form class="mt-56">
        <ion-grid>
            <ion-row class="ion-justify-content-center">
                <ion-col size="12">

                    <ion-item class="item-input" button="true" lines="none">
                        <ion-icon name="mail" class="icon-input" slot="start"></ion-icon>
                        <ion-input placeholder="E-MAIL" type="email" class="input-pink"></ion-input>
                    </ion-item>

                </ion-col>
            </ion-row>

            <ion-row class="ion-justify-content-center">
                <ion-col class="ion-text-center">
                    <ion-button class="btn-invite mt-56 text-transform-none" type="submit" shape="round" size="large" fill="clear">Enviar convite</ion-button>
                </ion-col>
            </ion-row>

        </ion-grid>

    </form>

</ion-content>