<header class="header">
    <ion-buttons slot="start">
        <ion-back-button class="back" defaultHref="/settings" icon="arrow-round-back"></ion-back-button>
    </ion-buttons>

    <h1 class="title">
        <ion-icon name="mail"></ion-icon>
        <ion-label>Convidar amigos</ion-label>
    </h1>
</header>

<ion-content>
    <div class="content">
        <form>
            <ion-item class="item-input" button="true" lines="none">
                <ion-icon name="person-add" class="icon-input"></ion-icon>
                <ion-input placeholder="E-MAIL" type="email" class="input"></ion-input>
            </ion-item>

            <ion-button class="btn-invite" type="submit" fill="clear">Enviar convite</ion-button>
        </form>
    </div>
</ion-content>