.header {
    width: 100%;
    height: 150px;
    background: url('../../../assets/images/ifr_top.svg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.header ion-icon {
    width: 48px;
    height: 48px;
}

.title {
    --color: #FFF;
    text-align: center;
}