.title {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    margin-top: 0;
    font-weight: bold;
}

.item-input {
    border-radius: 4px;
    border: 1px solid rgba(183, 33, 255, 0.8);
    --background: transparent;
    --padding-start: 0px;
    margin-top: 10px;
    width: 100%;
}

.icon-input {
    background: #B721FF;
    color: #FFF;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 16px;
    padding: 16px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.btn-invite {
    --color: #FFF;
    --background: #B721FF;
    --background-activated: #8000cb;
    --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    font-weight: 600;
    margin-top: 48px;
    width: 216px;
}