.title {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    margin-top: 0;
    font-weight: bold;
}

.item-input {
    --padding-start: 0;
    border-radius: 4px;
    border-top: 1px solid #B721FFCC;
    border-right: 1px solid #B721FFCC;
    // border-left: 1px solid #B721FFCC;
    border-bottom: 1px solid #B721FFCC;
    --background: transparent;
    --min-height: 56px;
    height: 56px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.icon-input {
    background: #B721FF;
    color: #FFF;
    margin-top: 0;
    margin-bottom: 0;
    padding: 16px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    // height: 100%;
}

.input {
    --placeholder-color: #B721FF;
    --placeholder-opacity: .8;
    --color: #B721FF;
    font-size: 16px;
}

.btn-invite {
    --color: #FFF;
    --background: #B721FF;
    --background-activated: #8000cb;
    --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    font-weight: 600;
    margin-top: 48px;
    width: 216px;
}