<div class="content">
    <div class="header">
        <div class="header-buttons">
            <ion-icon class="back" name="arrow-back"></ion-icon>
            <ion-icon class="back" name="settings"></ion-icon>
        </div>
        <div class="flex-row">
            <div class="info">
                <ion-icon class="icon-profile" icon name="heart-empty"></ion-icon>
                <span>1258</span>
            </div>
            <div class="user">
                <div class="avatar"></div>
                <h1>Anonymous</h1>
                <h2>12 publicações</h2>
            </div>
            <div class="info">
                <ion-icon class="icon-profile" icon name="eye"></ion-icon>
                <span>1258</span>
            </div>
        </div>
    </div>
    <div class="postagens">
        <div class="post"></div>
        <div class="post"></div>
        <div class="post"></div>
        <div class="post"></div>
        <div class="post"></div>
        <div class="post"></div>
        <div class="post"></div>
        <div class="post"></div>
        <div class="post"></div>
        <div class="post"></div>
        <div class="post"></div>
        <div class="post"></div>
        <div class="post"></div>
        <div class="post"></div>
        <div class="post"></div>
        <div class="post"></div>
        <div class="post"></div>
        <div class="post"></div>
    </div>
</div>