<header class="header-ifr">
    <ion-buttons slot="start">
        <ion-back-button class="back" defaultHref="/login" icon="arrow-round-back"></ion-back-button>
    </ion-buttons>

    <h1 class="title">Recuperar senha</h1>
</header>

<ion-content>
    <div class="content">
        <form [formGroup]="recoverForm" (submit)="onSubmit()">
            <ion-item class="item-pink" lines="none">
                <ion-input name="email" formControlName="email" placeholder="EMAIL" type="email" class="input-pink"></ion-input>
                <ion-note *ngIf="email.dirty && email.hasError('required')" slot="end">Obrigatório</ion-note>
                <ion-note *ngIf="email.dirty && email.hasError('email')" slot="end">E-mail invalido</ion-note>
            </ion-item>
            <ion-button class="btn-submit mt-56" type="submit" fill="clear">Enviar</ion-button>
        </form>
    </div>
</ion-content>