<header class="header-ifr">
    <ion-buttons slot="start">
        <ion-back-button class="back" defaultHref="/login" icon="arrow-round-back"></ion-back-button>
    </ion-buttons>

    <h1 class="title">Recuperar senha</h1>
</header>

<ion-content>
    <div class="content">
        <form>
            <ion-item class="item-pink" button="true" lines="none">
                <ion-input placeholder="EMAIL" type="email" class="input-pink"></ion-input>
            </ion-item>

            <ion-button class="btn-submit mt-56" type="submit" fill="clear">Enviar</ion-button>
        </form>
    </div>
</ion-content>