<div class="container">

    <div class="header">
        <div class="titleContainer">
            <h1>Recuperar Conta</h1>
        </div>
    </div>

    <div class="content">
        <h2> Informe o e-mail de recuperação </h2>

        <form>
            <ion-item class="item-pink" lines="none">
                <ion-input placeholder="EMAIL" type="email" class="input-pink"></ion-input>
            </ion-item>

            <div class="center">
                <button class="button">Enviar</button>
            </div>
        </form>
    </div>
</div>