<ion-header>
    <ion-toolbar class="header-bar">
        <ion-buttons slot="start">
            <ion-back-button class="back" defaultHref="/feed" icon="arrow-round-back"></ion-back-button>
        </ion-buttons>
        <ion-title class="title">Configurações</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item class="option" routerLink="/invite" routerDirection="forward" button="true" lines="none">
        <ion-icon name="person-add"></ion-icon>
        <ion-label>Convidar amigos</ion-label>
    </ion-item>

    <ion-item class="option" button="true" lines="none" disabled="true">
        <ion-icon name="help-circle-outline"></ion-icon>
        <ion-label>Conta</ion-label>
    </ion-item>

    <ion-item class="option" button="true" lines="none" disabled="true">
        <ion-icon name="information-circle-outline"></ion-icon>
        <ion-label>Sobre</ion-label>
    </ion-item>

    <ion-label class="title-session">Login</ion-label>

    <ion-item class="close" button="true" lines="none" routerLink="/login" routerDirection="back">
        <ion-label>Sair</ion-label>
    </ion-item>
</ion-content>
