span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgb(255, 255, 255);
}

.chip {
    --background: transparent;
}


.avatar-fab {
    --background: transparent;
    --border-radius: 30px;
    --box-shadow: none;
    width: 48px;
    height: 48px;
}

.users-avatar {
    height: 32px;
    width: 32px;
    border: 1px solid #8000CB;
}

.avatar-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.fab-avatar {
    --background: transparent;
    height: 48px;
    width: 48px;
}
