<ion-header>
    <ion-toolbar class="header-bar">
        <ion-item class="chip text-white" lines="none">
            <ion-label class="ion-text-end">{{displayName}}</ion-label>
            <ion-button class="avatar-fab ion-margin-start" routerLink="/settings" routerDirection="forward">
                    <ion-avatar class="users-avatar">
                        <img src="{{photoURL || '/assets/images/avatar.png'}}">
                    </ion-avatar>
            </ion-button>
        </ion-item>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="mt-32">
        <ion-row>
            <ion-col size="6" class="image-gallery" *ngFor="let item of (posts$ | async)">
                <ion-card class="ion-no-margin">
                    <ion-img src="{{item.image}}"></ion-img>
                    <ion-card-header class="avatar-overlay ion-no-padding">
                        <ion-fab vertical="top" horizontal="start">
                            <ion-fab-button class="delete-photo ion-no-margin" size="small" (click)="delete()">
                                <ion-icon name="close"></ion-icon>
                            </ion-fab-button>
                        </ion-fab>

                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="abrirGaleria()">
            <img src="\assets\icon\camera.svg" alt="" srcset=""/>
        </ion-fab-button>
    </ion-fab>

</ion-content>
