span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgb(255, 255, 255);
}

.chip {
    --background: transparent;
    --color-activated: #FFF;
}

.chip ion-avatar {
    width: 32px;
    height: 32px;
}

.users-avatar {
    height: 48px;
    width: 48px;
    border: 2px solid #8000CB;
}

.avatar-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.fab-avatar {
    --background: transparent;
    height: 48px;
    width: 48px;
}

.content {
    width: 100%;
    min-height: 50%;
    overflow: auto;
}

.header {
    padding: 16px;
    background: url("/assets/images/feed_top.svg");
    background-position: top;
    background-repeat: no-repeat;
    height: 29%;
}

.user {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.avatar {
    background: #fcfcfc;
    border-radius: 60px;
    width: 32px;
    height: 32px;
    margin-left: 8px;
}

.postagens {
    display: inline;
    top: -110px;
    position: relative;
}

.card {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    width: 93%;
    background: rgb(240, 240, 240);
    align-self: center;
    padding: 16px;
    height: 36.5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: 24px;
}

.card>.avatar {
    background: #c4c4c4;
    border: 1px solid rgba(128, 0, 203, 1);
    height: 52px;
    margin-left: 0px;
    width: 52px;
}