<div class="content">
    <div class="header">
        <div class="header-buttons">
            <ion-back-button class="back" defaultHref="/home" icon="arrow-round-back"></ion-back-button>
            <h1>Anonymous</h1>
            <ion-button fill="clear">
                <ion-icon class="back" name="settings"></ion-icon>
            </ion-button>
        </div>
        <div class="flex-row flex-start">
            <div class="avatar"></div>
            <div class="infoBox">
                <div class="user">
                    <h3>Membro desde outubro de 2019</h3>
                    <h2>12 publicações</h2>
                </div>
                <div class="flex-row">
                    <div class="info">
                        <ion-icon class="icon-profile" icon name="heart-empty"></ion-icon>
                        <span>1258</span>
                    </div>
                    <div class="info">
                        <ion-icon class="icon-profile" icon name="eye"></ion-icon>
                        <span>1258</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="postagens">
        <div class="post"></div>
        <div class="post"></div>
        <div class="post"></div>
        <div class="post"></div>
        <div class="post"></div>
        <div class="post"></div>
        <div class="post"></div>
        <div class="post"></div>
        <div class="post"></div>
        <div class="post"></div>
        <div class="post"></div>
        <div class="post"></div>
        <div class="post"></div>
        <div class="post"></div>
        <div class="post"></div>
        <div class="post"></div>
        <div class="post"></div>
        <div class="post"></div>
    </div>
</div>