<div class="container">

    <div class="header ">
        <div class="logo">
            <img src="assets/images/logo/logo.png" />
        </div>
    </div>

    <div class="content">
        <form>
            <ion-item class="item" lines="none">
                <ion-input placeholder="Username" class="input-white"></ion-input>
            </ion-item>

            <ion-item class="item" lines="none">
                <ion-input placeholder="Password" type="password" class="input-white"></ion-input>
                <ion-icon name="eye"></ion-icon>
            </ion-item>

            <span class="recuperarSenha">Esqueceu a senha?</span>

            <button class="logar">Entrar</button>

            <div class="criarContaBox">
                <span>Novo no Fotogram? </span>
                <span class="criarConta">Crie uma conta</span>
            </div>

        </form>

    </div>

</div>