<ion-content>
    <header class="header ion-align-items-center ion-justify-content-center">
        <img src="assets/images/logo/logo.png" />
    </header>

    <form (submit)="onSubmit('email')" [formGroup]="autenticaForm">

        <ion-grid>

            <ion-row class="ion-justify-content-center">
                <ion-col size="12">
                    <ion-item class="item-input" lines="none">
                        <ion-input name="email" formControlName="email" placeholder="Email" class="input-white"></ion-input>
                        <ion-note color="warning" *ngIf="email.dirty && email.hasError('required')" slot="end">Obrigatorio</ion-note>
                        <ion-note color="warning" *ngIf="email.dirty && email.hasError('email')" slot="end">E-mail inválido!</ion-note>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row class="ion-justify-content-center">
                <ion-col size="12">
                    <ion-item class="item-input" lines="none">
                        <ion-input name="password" formControlName="password" placeholder="Password" type="password" class="input-white"></ion-input>
                        <ion-icon name="eye" slot="end"></ion-icon>
                        <ion-note color="warning" *ngIf="password.dirty && password.hasError('required')" slot="end">Obrigatorio</ion-note>
                    </ion-item>
                </ion-col>
                <ion-col size="12" class="ion-text-end">
                    <ion-button class="text-transform-none" fill="clear" router-direction="forward" href="recover-password">
                        <span>Esqueceu a senha?</span>
                    </ion-button>
                </ion-col>
            </ion-row>

        </ion-grid>

    </form>

    <ion-grid padding>
        <ion-row class="ion-justify-content-center">
            <ion-col class="ion-text-center">
                <ion-button [disabled]="autenticaForm.invalid" type="submit" class="logar" (click)="onSubmit('email')" shape="round" router-direction="forward" size="large" expand="block">Entrar</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid>
        <ion-row>
            <ion-col class="ion-text-center">

                <ion-button fill="clear" router-direction="forward" href="create-account" class="text-transform-none">
                    <span>Novo no Fotogram?</span><span class="criarConta"> Crie uma conta</span>
                </ion-button>

            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>