.item-input {
    border-radius: 4px;
    border: 1px solid #B721FFCC;
    --background: transparent;
    --min-height: 56px;
    height: 56px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.title {
    margin-top: 0px;
    font-weight: bold;
    font-size: 24px;
    color: #FFF;
    text-align: center;
}

.btn-pink {
    --color: #FFF;
    --color-activated: #FFF;
    width: 216px;
    --background: #B721FF;
    --background-activated: #B721FF;
    --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    margin-top: 64px;
}