<ion-header>
  <ion-toolbar>
    <ion-title>create-account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="none">
    <!-- Input with placeholder -->
    <ion-input type="text" class="input-pink" placeholder="Name" required></ion-input>
  </ion-item>

  <ion-item lines="none">
    <!-- Input with placeholder -->
    <ion-input type="email" class="input-pink" placeholder="E-mail" required></ion-input>
  </ion-item>

  <ion-item lines="none">
    <!-- Input with placeholder -->
    <ion-input type="password" class="input-pink" placeholder="Password" required></ion-input>
  </ion-item>

  <ion-button class="btn-pink" fill="clear">Cadastrar</ion-button>

</ion-content>