<ion-content>
    <header class="header-ifr">
        <ion-toolbar class="toolbar-c-r">
            <ion-buttons slot="start">
                <ion-back-button class="back" router-direction="back" defaultHref="/login" icon="arrow-round-back"></ion-back-button>
            </ion-buttons>

        </ion-toolbar>
        <ion-title class="title">Crie sua conta</ion-title>
    </header>

    <form [formGroup]="accountForm" (submit)="onSubmit()" class="mt-56">
        <ion-grid>
            <ion-row class="ion-justify-content-center">
                <ion-col size="12">
                    <ion-item lines="none" class="item-pink">
                        <ion-input type="text" name="name" formControlName="name" class="input-pink" placeholder="Name"></ion-input>
                        <ion-note color="danger" *ngIf="name.dirty && name.hasError('required')" slot="end">Obrigatório</ion-note>
                        <ion-note color="danger" *ngIf="name.dirty && name.hasError('minlength')" slot="end">Mínimo de 6 caracteres</ion-note>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row class="ion-justify-content-center">
                <ion-col size="12">
                    <ion-item lines="none" class="item-pink">
                        <ion-input type="email" name="email" formControlName="email" class="input-pink" placeholder="E-mail"></ion-input>
                        <ion-note color="danger" *ngIf="email.dirty && email.hasError('required')" slot="end">Obrigatório</ion-note>
                        <ion-note color="danger" *ngIf="email.dirty && email.hasError('email')" slot="end">E-mail invalido</ion-note>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row class="ion-justify-content-center">
                <ion-col size="12">
                    <ion-item lines="none" class="item-pink">
                        <ion-input type="password" name="password" formControlName="password" class="input-pink" placeholder="Password"></ion-input>
                        <ion-note color="danger" *ngIf="password.dirty && password.hasError('required')" slot="end">Obrigatório</ion-note>
                        <ion-note color="danger" *ngIf="password.dirty && password.hasError('minlength')" slot="end">Mínimo de 6 caracteres</ion-note>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row class="ion-justify-content-center">
                <ion-col class="ion-text-center">
                    <ion-button class="btn-pink text-transform-none" type="submit" shape="round" size="large" fill="clear">Cadastrar</ion-button>
                </ion-col>
            </ion-row>

        </ion-grid>

    </form>


</ion-content>