<ion-content>
    <header class="header-profiles">
        <ion-toolbar class="toolbar-c-r">
            <ion-buttons slot="start">
                <ion-back-button class="back" defaultHref="/login" icon="arrow-round-back"></ion-back-button>
            </ion-buttons>
            <ion-title class="title">Anonymous</ion-title>
        </ion-toolbar>

        <ion-grid class="ion-no-margin ion-no-padding information">
            <ion-row class="ion-align-items-center">
                <ion-col class="ion-align-items-center" size="3">
                    <ion-avatar>
                        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                    </ion-avatar>
                </ion-col>

                <ion-col size="9" class="ion-align-self-start ion-no-margin ion-no-padding">
                    <h3 class="member">Membro desde outubro de 2019</h3>
                    <h2 class="publication"><span>12</span> publicações</h2>
                </ion-col>
            </ion-row>

            <ion-row class="ion-align-items-center ion-justify-content-center">
                <ion-col size="3" class="ion-align-self-center ion-align-items-center">
                    <ion-icon class="icon-profile" icon name="heart-empty"></ion-icon>
                    <span class="numbers">1258</span>
                </ion-col>

                <ion-col size="3" class="ion-align-self-center ion-align-items-center">
                    <ion-icon class="icon-profile" icon name="eye"></ion-icon>
                    <span class="numbers">1258</span>
                </ion-col>
            </ion-row>


            <!-- <ion-col size="12" class="ion-no-margin ion-no-padding">
                    <div class="flex-row">

                        <div class="info">

                        </div>
                    </div>
                </ion-col> -->

        </ion-grid>

    </header>



    <!-- <div class="content">


        <div class="postagens">
            <div class="post"></div>
            <div class="post"></div>
            <div class="post"></div>
            <div class="post"></div>
            <div class="post"></div>
            <div class="post"></div>
            <div class="post"></div>
            <div class="post"></div>
            <div class="post"></div>
            <div class="post"></div>
            <div class="post"></div>
            <div class="post"></div>
            <div class="post"></div>
            <div class="post"></div>
            <div class="post"></div>
            <div class="post"></div>
            <div class="post"></div>
            <div class="post"></div>
        </div>
    </div> -->

</ion-content>