<div class="content">
    <div class="header">
        <div class="user">
            <span>Anonymous</span>
            <img src="/assets/images/avatar.png" alt="" class="avatar" />
        </div>
    </div>
    <div class="postagens">
        <div class="card">teste</div>
        <div class="card">teste</div>
        <div class="card">teste</div>
        <div class="card">teste</div>
        <div class="card">teste</div>
        <div class="card">teste</div>
        <div class="card">teste</div>
        <div class="card">teste</div>
        <div class="card">teste</div>
        <div class="card">teste</div>
        <div class="card">teste</div>
        <div class="card">teste</div>
        <div class="card">teste</div>
        <div class="card">teste</div>
        <div class="card">teste</div>
        <div class="card">teste</div>
        <div class="card">teste</div>
        <div class="card">teste</div>
    </div>
</div>