<ion-fab>
    <ion-fab-button>
        <img src="\assets\icon\camera.svg" alt="" srcset="" />
    </ion-fab-button>
</ion-fab>
<div class="content">
    <div class="header">
        <div class="user">
            <span>Anonymous</span>
            <img src="/assets/images/avatar.png" alt="" class="avatar" />
        </div>
    </div>
    <div class="postagens">
        <div class="card">
            <div class="avatar"></div>
        </div>
        <div class="card">
            <div class="avatar"></div>
        </div>
        <div class="card">
            <div class="avatar"></div>
        </div>
        <div class="card">
            <div class="avatar"></div>
        </div>
        <div class="card">
            <div class="avatar"></div>
        </div>
        <div class="card">
            <div class="avatar"></div>
        </div>
        <div class="card">
            <div class="avatar"></div>
        </div>
        <div class="card">
            <div class="avatar"></div>
        </div>
    </div>
</div>